.app-cursor {
  background-color: none;

  @include xl {
    z-index: 1000;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    background-color: $secondary-color;
    pointer-events: none;
    overflow: hidden;
    position: fixed;
    mix-blend-mode: difference;
    //border: 2px solid white;
  }
}
