.home {
  padding-top: 5rem;
  position: fixed;
  margin: auto;
  width: 100%;
  @include md {
    padding-top: 5rem;
  }

  @include xl {
    padding-top: 5rem;
  }
}

::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 1rem;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: auto;
  @include md {
    padding: 0 5rem;
  }

  @include xl {
    padding: 0 20rem;
  }
}

.section {
  height: 100vh;
  scroll-snap-align: start;

  // &-one {
  //   background-color: yellow;
  // }
  // &-two {
  //   background-color: green;
  // }
  // &-three {
  //   background-color: purple;
  // }
  // &-four {
  //   background-color: brown;
  // }
}
