.home {
  padding: 5rem 1rem;
  position: fixed;
  margin: auto;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  margin: auto;
  width: 80%;
}

.section {
  height: 100vh;
  scroll-snap-align: start;

  // &-one {
  //   background-color: yellow;
  // }
  // &-two {
  //   background-color: green;
  // }
  // &-three {
  //   background-color: purple;
  // }
  // &-four {
  //   background-color: brown;
  // }
}
