.assistant {
  position: fixed;
  margin: 2rem 1rem 0;
  mix-blend-mode: multiply;

  @include xl {
    margin: 3rem 3rem 0;
  }

  &-text {
    color: #b4b4b4;
  }
}

.info {
  margin: 4.8rem 1rem 0;
  cursor: default;

  @include sm {
    margin: 5rem 3rem 0;
  }

  @include lg {
    margin: 6rem 6rem 0;
  }

  @include xl {
    margin: 8rem 12.5rem 0;
  }

  .social {
    margin: 4rem 0 5rem;

    @include xl {
      margin: 8rem 0 10rem;
    }

    &-area {
      list-style: none;

      @include lg {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &-elements {
        cursor: pointer;
        padding: 1rem 0 1rem 0;

        &-text {
          text-decoration: none;
        }
      }
    }
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
