@import "variables";
@import "breakpoints";

@import "./pages/components/navbar/navbar.scss";

@import "./pages/components/cardProject.scss";

@import "./pages/home.scss";
@import "./pages/info.scss";
