@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: overlay;
  background-color: #f2f2f2;
}

$primary-color: #000000;
$secondary-color: #ffffff;

.text-title {
  font-family: "BarracudaBold";
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: $primary-color;

  @include xl {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

.text-big {
  font-family: "Cotham";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: normal;
  letter-spacing: 0.015rem;
  color: $primary-color;

  @include sm {
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: 0.025rem;
  }
}

.text-normal {
  font-family: "Cotham";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  color: $primary-color;
}

.text-detail {
  font-family: "BarracudaBold";
  font-size: 1rem;
  line-height: auto;
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: $primary-color;
}

.text-navbar-elements {
  font-family: "Cotham";
  font-size: 1rem;
  line-height: auto;
  letter-spacing: 0.05rem;
  text-decoration: none;
  display: block;
  text-align: end;
  color: $primary-color;
}
