@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: overlay;
  background-color: white;
}

$primary-color: #000000;
$secondary-color: #ffffff;

h1 {
  font-family: "BarracudaBold";
  font-size: 4.5rem;
  line-height: auto;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: $primary-color;
}

h2 {
  font-family: "Cotham";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: normal;
  letter-spacing: 0.015rem;
  color: $primary-color;

  // font-size: 4.5rem;
  // line-height: 5rem;
  // letter-spacing: 0.025rem;
}

.navbar-elements {
  font-family: "Cotham";
  font-size: 1rem;
  line-height: auto;
  letter-spacing: 0.05rem;
  text-decoration: none;
  display: block;
  text-align: end;
  color: $primary-color;
}
