.card-project {
  display: flex;
  height: 33rem;
  justify-content: center;

  &-item {
    position: relative;

    &-image-img {
      position: absolute;
      height: 33rem;
      width: 10rem;
      z-index: -1;
      object-fit: cover;
      filter: grayscale(100%) sepia(20%) brightness(100%);

      @include md {
        width: 24rem;
      }
    }

    &-date {
      margin-top: 1rem;
      margin-left: 13.5rem;

      @include xl {
        margin-left: 26rem;
      }
    }

    &-title {
      margin-top: 4.5rem;
      margin-left: 5.5rem;

      @include lg {
        margin-left: 8rem;
      }

      @include xl {
        margin-left: 20rem;
      }
    }

    &-area {
      margin-top: 1rem;
      margin-left: 11rem;

      @include xl {
        margin-left: 26rem;
      }
    }

    &-team {
      margin-top: 7rem;
      margin-left: 11rem;
      max-width: 10rem;

      @include xl {
        margin-left: 28rem;
      }

      @include xl {
        margin-left: 28rem;
      }

      &-fix {
        color: #b4b4b4;
      }
    }
  }
}
