@import "../../../base.scss";

.navbar {
  //background-color: blue;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  z-index: 2;
  padding: 3rem 1rem 0;

  &-menu {
    //background-color: red;
    list-style: none;

    &-elements {
      padding: 0.25rem 0;
    }
  }
}
